* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(28, 49, 17, 0.527);
}
  
::selection {
    color: white;
    background: rgba(28, 49, 17, 0.445);
}
html {
    scroll-behavior:smooth;
}
html, body {
    height: 100%;
    background-color: black;
}
/*Nav Bar*/
#nav_bar {
    position: absolute;
    background-color: white;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1;

    display: flex;
    justify-content: center;

    transition: 200ms ease-out;
}
#nav_bar a {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 30px;
    transition: 200ms ease-out;
}
#nav_bar a:hover {
    color: black;
}
/*Welcome*/
.main_wrapper {
    height: 100%;
    position: relative;
}
.main_background {
    background-image: url("img/main_background.jpg"); 
    background-color: black;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.6;
}

.main_wrapper h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    color: white;
    text-align: center;
    text-shadow: 15px 15px 5px rgb(28, 49, 17);
}
/*Services*/
.services {
    background-color: rgb(253, 253, 237);
    width: 100%;
    padding-bottom: 40px;
}
.services header {
    padding: 30px 0px;

    color: rgb(54, 54, 54);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Twinkle Star', cursive;
}
.services_container {
    display: flex;
    width: 1600px;
    margin: 0 auto; 
    justify-content: space-around;
}
.service {
    padding: 15px;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 5px;
    width: 430px;
}
.service h1 {
    color: rgb(54, 54, 54);
    padding: 10px 0px;

    font-size: 27px;
    font-family: 'Twinkle Star', cursive;
    font-weight: 600;
}
.service p {
    color: rgb(104, 104, 104);

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.service button {
    background-color: transparent;
    color: rgb(54, 54, 54);

    text-align:center;
    font-size: 16px;
    font-weight: bold;

    border: 2px solid rgb(54, 54, 54);
    border-radius: 5px;

    margin: 15px 0px 10px 0px;
    padding: 10px 16px;

    transition: 300ms ease;
}
.service button:hover {
    color: white;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}
.cover {
    object-fit: cover;
    width: 400px;
    height: 400px;
}
/*Footer*/
.footer {
    background-color: #2a2a2a;
    color: white;

    padding: 50px 0px;
}
.footer_container {
    display: flex;
    justify-content: space-around;

    width: 1600px;  
    margin: 0 auto;
}
.footer_container section header {
    font-family: 'Twinkle Star', cursive;
    font-weight: bold;
    font-size: 20px;
}
/*about_us*/
.about_us {
    width: 430px;
}
.about_us h1 {
    color: rgb(255, 255, 255);
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
    letter-spacing: 2px;
}
.about_us p {
    color: rgb(134, 134, 134);
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.social_media {
    display: flex;
    font-size: 25px;
}
.social_media div {
    background-color: white;
    color: #2a2a2a;
    position: relative;

    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;

    transition: 200ms ease-out;
}
.social_media div i {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.social_media div:hover {
    background-color: #181818;
    color: white;
    cursor: pointer;
}
/*Working hours*/
.working_hours {
    width: 430px;
}
.working_hours ul {
    list-style: none;

    padding: 10px 0px;

    color:rgb(134, 134, 134);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
/*Contacts*/
.contacts {
    width: 430px;
}
.contacts ul {
    list-style: none;

    padding: 10px 0px;

    color:rgb(134, 134, 134);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.contacts p {
    color:rgb(134, 134, 134);

    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.author {
    background-color: rgb(22, 22, 22);
}
.author header{
    color: rgb(133, 133, 133);
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    padding: 20px;
}